# config variable to determine type of instance being deployed
ENV = 'production'
PRODUCTION = 'True'
DEBUG = 'False'

USERNAME = 'opioid'
PASSWORD = 'g*1L8hm+'
HOSTNAME = 'awesome-hw.sdsc.edu'

VERSION = '1.0.0'